venv/
**/__pycache__/
~$**.pptx

# Interne Kurs- und Uni-Unterlagen NICHT veröffentlichen
docs/Aufgabenstellung.pdf
docs/Aufgabenstellung-1.pdf
docs/Bauanleitung_Lego.pdf
docs/Grundlagen_Logistik.pdf
docs/OrganisationVorstellungAG.pdf
docs/Programmierung.pdf


# Latex temporäre Dateien
*.aux
*.lof
*.log 
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz

